{% extends "blog/base.html" %}
     {% load custom_markdown %}

        {% block content %}
        <div class="post">
            <h2>{{ object.title }}</h2>
            <p>{{ object.content|custom_markdown }}</p>
            <p>Post at {{ object.post_datetime }}</p>
            <p>Latest update at {{ object.last_update_datetime }}</p>
            <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a>
            <h4>Comments</h4>
            <div class="fb-comments" data-href="http://{{ object.site }}{{ object.get_absolute_url }}"
                 data-width="470" data-num-posts="10"></div>
        </div>
        {% endblock %}
