{% extends "blog/base.html" %}

    {% load custom_markdown %}

    {% block content %}
    <h2>Recent Posts</h2>
        {% if object_list %}
        {% for post in object_list %}
            <div class="post col-md-12">
                <h3>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    <hr>
                </h3>
                <p>{{ post.content|custom_markdown }}</p>
                <p>Post at {{ post.post_datetime }}</p>
            </div>

            {% if post.category %}
            <div class="col-md-12">
                <a href="{{ post.category.get_absolute_url }}">
                    <span class="label label-primary">{{ post.category.name }}</span>
                </a>
            </div>
            {% endif %}

            {% if post.tags %}
            <div class="col-md-12">
                {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}">
                    <span class="label label-success">{{ tag.name }}</span>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        {% else %}
        <p>No post found</p>
        {% endif %}

        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="/{{ page_obj.previous_page_number }}/">Previous Page</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="next"><a href="/{{ page_obj.next_page_number }}/">Next Page</a></li>
            {% endif %}
        </ul>

{% endblock %}
